---------------------------


# Performance Assessment: D208 Predictive Modeling Task 1 - Multiple Linear Regression.

## Michael Hindes
Department of Information Technology, Western Governors University
<br>D208: Predictive Modeling
<br>Professor David Gagner
<br>February 11, 2024

This project aims to understanding the exact relationship between a response and predictor variables and to create a multiple regression model derived from medical raw data, targeting a business question reflective of a real-world organizational challenge. Python is employed to conduct a multiple regression analysis to explore the research question thoroughly. The analysis is supported by visual aids to elucidate the regression outcomes and predictions. The process also involves meticulous data cleaning to ensure accuracy and reliability. Additionally, the project shares the code used for the regression analysis and predictions. It concludes by detailing the regression equation, evaluating the statistical and practical significances, discussing limitations, and suggesting possible actions.

# Part I: Research Question
## Describe the purpose of this data analysis by doing the following::

### **A1. Research Question:**
**"What factors contribute to the total charges incurred by patients during their hospital stay?"**

This question aims to identify key variables within the dataset that influence hospital charges, including length of stay, services rendered, patient risk factors, and demographic details. The goal is to understand the primary drivers of hospital expenses. This information can be used to help predict charges for future patients, allowing hospitals to better manage their resources and improve patient care.

### **A2. Define the goals of the data analysis.**

This data analysis project is focused on developing a predictive model as a practical 
tool to help healthcare organizations in planning and operational improvements. By 
examining a wide range of factors that potentially affect TotalCharge, the project 
aims to build a model that supports data-driven decision-making in healthcare. This 
initiative represents a preliminary step towards leveraging predictive modeling for 
financial sustainability and greater transparency.

-   Variable Identification: Identify a comprehensive set of factors that influence 
TotalCharge, with a focus on clinical, operational, and demographic elements. This 
step lays the groundwork for understanding the broad variables that could impact 
hospital charges.

-   Quantitative Assessment: Conduct a quantitative analysis to evaluate how these 
factors contribute to TotalCharge. This will help in understanding the significance 
and relationships of different variables with TotalCharge, providing a basis for the 
predictive model.

-   Insight Generation: The aim is to generate preliminary insights that could inform 
hospital cost management and pricing strategies, potentially leading to improved 
operational and billing processes. These insights are seen as an initial foray into 
optimizing hospital operations.

-   Predictive Modeling: The core goal is to develop an initial predictive model that 
estimates TotalCharge based on factors identifiable prior to or at the point of 
admission. This model is intended to enhance financial planning and increase 
transparency for both the hospital and its patients, serving as a first step towards 
more sophisticated predictive capabilities in the future.

-------------------------------------

# Part II: Method Justification

## B. Describe multiple linear regression methods by doing the following:

### **B1. Summarize four assumptions of a multiple linear regression model:**

In multiple linear regression analysis, four key assumptions are critical: linearity between variables, independence of observations, constant error variance (homoscedasticity), and normal distribution of error terms. Understanding and checking these assumptions is essential for the model's reliability and accuracy, providing a solid basis for predictive analytics.

-   Linearity asserts that there is a straight-line relationship between each predictor (independent variable) and the response (dependent variable). This means that changes in a predictor variable are associated with proportional changes in the response variable.

-   Independence of Observations indicates that the data points in the dataset do not influence each other. Each observation's response is determined by its predictor values, free from the effects of other observations in the dataset.

-   Homoscedasticity refers to the requirement that the error terms (differences between observed and predicted values) maintain a consistent variance across all levels of the independent variables. This constant variance ensures that the model's accuracy does not depend on the value of the predictors.

-    Normality of Errors involves the assumption that for any fixed value of an independent variable, the error terms are normally distributed. This normal distribution is central to conducting various statistical tests on the model's coefficients to determine their significance.

(Statology, n.d.)
(Pennsylvania State University, n.d.)

### **B2. Describe two benefits of using Python for data analysis:**

- **Rich Libraries:** ALthough R was designed for statistics and data, Python offers comprehensive libraries such as Pandas for data manipulation, NumPy for numerical computations, Matplotlib and Seaborn for visualization, and Scikit-learn for machine learning, facilitating a wide range of data analysis tasks.
- **Versatility and Support:** Python's syntax is intuitive and readable, making it accessible for and versatile for various tasks beyond data analysis. The extensive community support ensures abundant resources for troubleshooting and learning. Deep learning AI .ect.
- **Familiarity and Broader reach** Python's ...

### **B3. Explain why multiple linear regression is an appropriate technique for analyzing the research question summarized in part I:**

Multiple linear regression is appropriate for exploring the research question because it enables the identification and quantification of relationships between a continuous response variable (Total Charges) and multiple predictor variables. This method allows for the analysis of how individual factors, such as length of hospital stay, patient demographics, and received services, collectively influence the total hospital charges, providing insights needed for predictive modeling and decision-making in this healthcare context.

# Part III: Data Preparation

## C. Summarize the data preparation process for multiple linear regression analysis by doing the following:

### *C1. Describe your data cleaning goals and the steps used to clean the data to achieve the goals that align with your research question including your annotated code.**

*   **Importing the Data**: Use`pd.read_csv()` to import data into a Pandas DataFrame.
    
*   **Initial Data Examination**: Using `df.head()` provides a quick snapshot of the dataset, including a view of the first few rows. This helps in getting a preliminary understanding of the data's structure and content.
    
*   **Checking Data Types**: The `df.info()` method is used for assessing the dataset's overall structure, including the data types of each column and the presence of non-null values. 
    
*   **Identifying Duplicate Rows**: Utilizing `df.duplicated()` to find duplicate rows is an essential cleaning step. Duplicates can skew your analysis and lead to inaccurate models. Once identified, you can decide whether to remove these rows with `df.drop_duplicates()` depending on their relevance to your research question.
    
*   **Detecting Missing Values**: The `df.isnull().sum()` command is instrumental in identifying missing values across the dataset. Understanding where and how much data is missing is critical for deciding on imputation methods or if certain rows/columns should be excluded from the analysis.



MAybe later: *   **Reviewing Unique Values**: Although `df.unique()` is used to explore unique values in a Series, for dataframes, you might consider `df.nunique()` to see the number of unique values in each column or use `df['column_name'].unique()` to check unique values in specific columns. This step is valuable for understanding the diversity of information within your dataset, particularly for categorical data.


follow the slides here: https://westerngovernorsuniversity.sharepoint.com/:p:/r/sites/DataScienceTeam/_layouts/15/Doc.aspx?sourcedoc=%7B285C378F-8089-4758-9ABE-29976D079B56%7D&file=Dr.%20Sewell%20D208_Predictive_Modeling_Webinar_Episode%201t.pptx&action=edit&mobileredirect=true

SyntaxError: invalid syntax (842801469.py, line 1)

In [1]:
# Import packages and libraries
%pip install scikit-learn
%pip install missingno
%pip install Jinja2
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import missingno as msno
import seaborn as sns
from pandas import DataFrame
from sklearn import preprocessing

Requirement already satisfied: scikit-learn in c:\users\hinde\appdata\local\programs\python\python312\lib\site-packages (1.4.1.post1)
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\users\hinde\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\hinde\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\hinde\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hinde\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.3.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: missingno in c:\users\hinde\appdata\local\programs\python\python312\lib\site-packages (0.5.2)
Requirement already satisfied: numpy in c:\users\hinde\appdata\local\programs\python\python312\lib\site-packages (from missingno) (1.26.4)
Requirement already satisfied: matplotlib in c:\users\hinde\appdata\local\programs\python\python312\lib\site-packages (from missingno) (3.8.3)
Requirement already satisfied: scipy in c:\users\hinde\appdata\local\programs\python\python312\lib\site-packages (from missingno) (1.12.0)
Requirement already satisfied: seaborn in c:\users\hinde\appdata\local\programs\python\python312\lib\site-packages (from missingno) (0.13.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hinde\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->missingno) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\hinde\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->missingno) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hinde\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->missingno) (4.50.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\hinde\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->missingno) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\hinde\appdata\roaming\python\python312\site-packages (from matplotlib->missingno) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\hinde\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->missingno) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hinde\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->missingno) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hinde\appdata\roaming\python\python312\site-packages (from matplotlib->missingno) (2.8.2)
Requirement already satisfied: pandas>=1.2 in c:\users\hinde\appdata\local\programs\python\python312\lib\site-packages (from seaborn->missingno) (2.2.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\hinde\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn->missingno) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hinde\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn->missingno) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\hinde\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib->missingno) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: Jinja2 in c:\users\hinde\appdata\local\programs\python\python312\lib\site-packages (3.1.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\hinde\appdata\local\programs\python\python312\lib\site-packages (from Jinja2) (2.1.3)

In [2]:
# import the data and read it into a dataframe, set index to the first column
df = pd.read_csv('D208_templates/medical_clean.csv', index_col=0)

# Set the maximum number of columns to display to 6 to save space for exersize
# pd.set_option('display.max_columns', 6)

# Display the first five rows of the data
df.head()

,Customer_id,Interaction,UID,City,State,County,Zip,Lat,Lng,Population,...,TotalCharge,Additional_charges,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
CaseOrder,,,,,,,,,,,,,,,,,,,,,
1,C412403,8cd49b13-f45a-4b47-a2bd-173ffa932c2f,3a83ddb66e2ae73798bdf1d705dc0932,Eva,AL,Morgan,35621,34.34960,-86.72508,2951,...,3726.702860,17939.403420,3,3,2,2,4,3,3,4
2,Z919181,d2450b70-0337-4406-bdbb-bc1037f1734c,176354c5eef714957d486009feabf195,Marianna,FL,Jackson,32446,30.84513,-85.22907,11303,...,4193.190458,17612.998120,3,4,3,4,4,4,3,3
3,F995323,a2057123-abf5-4a2c-abad-8ffe33512562,e19a0fa00aeda885b8a436757e889bc9,Sioux Falls,SD,Minnehaha,57110,43.54321,-96.63772,17125,...,2434.234222,17505.192460,2,4,4,4,3,4,3,3
4,A879973,1dec528d-eb34-4079-adce-0d7a40e82205,cd17d7b6d152cb6f23957346d11c3f07,New Richland,MN,Waseca,56072,43.89744,-93.51479,2162,...,2127.830423,12993.437350,3,5,5,3,4,5,5,5
5,C544523,5885f56b-d6da-43a3-8760-83583af94266,d2f0425877b10ed6bb381f3e2579424a,West Point,VA,King William,23181,37.59894,-76.88958,5287,...,2113.073274,3716.525786,2,1,3,3,5,3,4,3

In [3]:
# View the last 5 rows of the dataframe
df.tail()

,Customer_id,Interaction,UID,City,State,County,Zip,Lat,Lng,Population,...,TotalCharge,Additional_charges,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
CaseOrder,,,,,,,,,,,,,,,,,,,,,
9996,B863060,a25b594d-0328-486f-a9b9-0567eb0f9723,39184dc28cc038871912ccc4500049e5,Norlina,NC,Warren,27563,36.42886,-78.23716,4762,...,6850.942,8927.642,3,2,2,3,4,3,4,2
9997,P712040,70711574-f7b1-4a17-b15f-48c54564b70f,3cd124ccd43147404292e883bf9ec55c,Milmay,NJ,Atlantic,8340,39.43609,-74.87302,1251,...,7741.690,28507.150,3,3,4,2,5,3,4,4
9998,R778890,1d79569d-8e0f-4180-a207-d67ee4527d26,41b770aeee97a5b9e7f69c906a8119d7,Southside,TN,Montgomery,37171,36.36655,-87.29988,532,...,8276.481,15281.210,3,3,3,4,4,2,3,2
9999,E344109,f5a68e69-2a60-409b-a92f-ac0847b27db0,2bb491ef5b1beb1fed758cc6885c167a,Quinn,SD,Pennington,57775,44.10354,-102.01590,271,...,7644.483,7781.678,5,5,3,4,4,3,4,3
10000,I569847,bc482c02-f8c9-4423-99de-3db5e62a18d5,95663a202338000abdf7e09311c2a8a1,Coraopolis,PA,Allegheny,15108,40.49998,-80.19959,41524,...,7887.553,11643.190,4,3,3,2,3,6,4,3

In [4]:
# Check the DataFrame information
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 1 to 10000
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_id         10000 non-null  object
 1   Interaction         10000 non-null  object
 2   UID                 10000 non-null  object
 3   City                10000 non-null  object
 4   State               10000 non-null  object
 5   County              10000 non-null  object
 6   Zip                 10000 non-null  int64
 7   Lat                 10000 non-null  float64
 8   Lng                 10000 non-null  float64
 9   Population          10000 non-null  int64
 10  Area                10000 non-null  object
 11  TimeZone            10000 non-null  object
 12  Job                 10000 non-null  object
 13  Children            10000 non-null  int64
 14  Age                 10000 non-null  int64
 15  Income              10000 non-null  float64
 16  Marital             10000 non-null  object
 17  Gender              10000 non-null  object
 18  ReAdmis             10000 non-null  object
 19  VitD_levels         10000 non-null  float64
 20  Doc_visits          10000 non-null  int64
 21  Full_meals_eaten    10000 non-null  int64
 22  vitD_supp           10000 non-null  int64
 23  Soft_drink          10000 non-null  object
 24  Initial_admin       10000 non-null  object
 25  HighBlood           10000 non-null  object
 26  Stroke              10000 non-null  object
 27  Complication_risk   10000 non-null  object
 28  Overweight          10000 non-null  object
 29  Arthritis           10000 non-null  object
 30  Diabetes            10000 non-null  object
 31  Hyperlipidemia      10000 non-null  object
 32  BackPain            10000 non-null  object
 33  Anxiety             10000 non-null  object
 34  Allergic_rhinitis   10000 non-null  object
 35  Reflux_esophagitis  10000 non-null  object
 36  Asthma              10000 non-null  object
 37  Services            10000 non-null  object
 38  Initial_days        10000 non-null  float64
 39  TotalCharge         10000 non-null  float64
 40  Additional_charges  10000 non-null  float64
 41  Item1               10000 non-null  int64
 42  Item2               10000 non-null  int64
 43  Item3               10000 non-null  int64
 44  Item4               10000 non-null  int64
 45  Item5               10000 non-null  int64
 46  Item6               10000 non-null  int64
 47  Item7               10000 non-null  int64
 48  Item8               10000 non-null  int64
dtypes: float64(7), int64(15), object(27)
memory usage: 3.8+ MB

In [5]:
# Check for duplicate rows. Count the number of True and False values returned by df.duplicated().
print(df.duplicated().value_counts())

# Display the count of duplicate rows
print('Total Duplicated Rows: ', df.duplicated().sum())

False    10000
Name: count, dtype: int64
Total Duplicated Rows:  0

- There is no need to treat duplicates as all rows are confirmed unique.

In [7]:
# View the number of unique values for each column
df.nunique()

Customer_id           10000
Interaction           10000
UID                   10000
City                   6072
State                    52
County                 1607
Zip                    8612
Lat                    8588
Lng                    8725
Population             5951
Area                      3
TimeZone                 26
Job                     639
Children                 11
Age                      72
Income                 9993
Marital                   5
Gender                    3
ReAdmis                   2
VitD_levels            9976
Doc_visits                9
Full_meals_eaten          8
vitD_supp                 6
Soft_drink                2
Initial_admin             3
HighBlood                 2
Stroke                    2
Complication_risk         3
Overweight                2
Arthritis                 2
Diabetes                  2
Hyperlipidemia            2
BackPain                  2
Anxiety                   2
Allergic_rhinitis         2
Reflux_esophagitis        2
Asthma                    2
Services                  4
Initial_days           9997
TotalCharge            9997
Additional_charges     9418
Item1                     8
Item2                     7
Item3                     8
Item4                     7
Item5                     7
Item6                     7
Item7                     7
Item8                     7
dtype: int64

### Missing Values - Detection

- Detection and treatment of missing values begin by using `df.isnull().sum()`, which returns `True` if the value is null and `False` if the value is not null. `True` values are then summed and returned for each column.
  
- To keep things more efficient, a list of only those variables with missing values will be created by displaying only those columns with `missing values greater than 0`.

In [11]:
# The isnull() method creates a boolean DataFrame indicating which cells in df are null or missing values. 
# The sum() method then sums the number of True values in each column of the boolean DataFrame and returns a 
# new Series with the sums.
null_cols = df.isnull().sum()

#  Create a boolean Series indicating which columns have missing values. 
# Assigns only those values in null_cols that are greater than 0 to missing. (only rows with missing values)
missing = null_cols > 0
if missing.sum() == 0:
    print('No missing values found.')
# Print the count of missing values for each column with missing values, sorted in descending order
print('Number of missing values per column:')
print(null_cols[missing].sort_values(ascending=False))
print(null_cols > 0)

No missing values found.
Number of missing values per column:
Series([], dtype: int64)
Customer_id           False
Interaction           False
UID                   False
City                  False
State                 False
County                False
Zip                   False
Lat                   False
Lng                   False
Population            False
Area                  False
TimeZone              False
Job                   False
Children              False
Age                   False
Income                False
Marital               False
Gender                False
ReAdmis               False
VitD_levels           False
Doc_visits            False
Full_meals_eaten      False
vitD_supp             False
Soft_drink            False
Initial_admin         False
HighBlood             False
Stroke                False
Complication_risk     False
Overweight            False
Arthritis             False
Diabetes              False
Hyperlipidemia        False
BackPain              False
Anxiety               False
Allergic_rhinitis     False
Reflux_esophagitis    False
Asthma                False
Services              False
Initial_days          False
TotalCharge           False
Additional_charges    False
Item1                 False
Item2                 False
Item3                 False
Item4                 False
Item5                 False
Item6                 False
Item7                 False
Item8                 False
dtype: bool

- There are no missing values in the dataset, so no further action is required.

### Detect and treat outliers 

- For variables that have numeric value, detection of outliers will be employeed. Given that one is not entierly sure if the distribution of the variables is normal, and because of the excellent visual information they provide, Boxlots and Histograms will be used to detect outliers ofver Z-scores. Variables with types that may contain outliers include:
- Children	
- Age	
- Income	
- VitD_levels	
- Doc_visits	
- Full_meals_eaten	
- VitD_supp	
- Initial_days	
- TotalCharge	
- Additional_charges

-------------------------------------

--------------------------------------------

--------------------------------------------

--------------------------------------------

----------------------------------------------------------------------

--------------------

### G & H: References

- Western Governors University. (2023, December 21). D207 - Medical_clean Dataset. Retrieved from https://lrps.wgu.edu/provision/227079957

- Western Governors University IT Department. (2023). R or Python? How to decide which programming language to learn. Retrieved from https://www.wgu.edu/online-it-degrees/programming-languages/r-or-python.html#

- Datacamp. (2023, December 12). D207 - Exploratory Data Analysis. Retrieved from https://app.datacamp.com/learn/custom-tracks/custom-d207-exploratory-data-analysis 

- Sewell, Dr. (2023). WGU D207 Exploratory Data Analysis [Webinars]. WGU Webex. Accessed December, 2023. https://wgu.webex.com/webappng/sites/wgu/meeting/info/c4aca2eac546482880f1557c938abf40?siteurl=wgu&MTID=me73470c2eac9e863c6f47a3d5b6d2f26 

- Seaborn Developers. (2023). seaborn.scatterplot — seaborn 0.11.2 documentation. Retrieved December 22, 2023, from https://seaborn.pydata.org/generated/seaborn.scatterplot.html

OLD ABOVE _ DELETE?KEEP? as needed.

- Statology. (n.d.). *The Five Assumptions of Multiple Linear Regression*. Statology. Retrieved March 10, 2024, from www.statology.org/multiple-linear-regression-assumptions/

- Pennsylvania State University. (n.d.). *5.3 - The Multiple Linear Regression Model*. STAT 501. Retrieved March 10, 2024, from online.stat.psu.edu/stat501/lesson/5/5.3

# Limitations

Beware of the following with your regression analysis:

Overfitting can occur due to limited data points.

Multicollinearity occurs when high association (correlation) with other IVs.

P-values can be unreliable and coefficients swing wildly

Check for pairwise correlations and high VIF (> 10)

Tune your model with as many variables as practical. Forward, backward, stepwise
    regression based on AIC, BIC, etc.
ppoint 5 https://westerngovernorsuniversity-my.sharepoint.com/:p:/g/personal/william_sewell_wgu_edu/ERPQ0YpiQktOl-7YyAVnfLMBR5qeBh2cSv61VaJqe_aHKg?e=FjPhPz

# Errata n notes

I'm wrapping up task 1, and my research question is 'what factors influence the total charge a patient receives'. Total charge has a bimodal distribution that I did a log transform on which helped tremendously. Regarding my final reduced model, the RSE is pretty good, both residual normality and homoscedasticity are mostly there. Both have slight variance from expectations around the tails. For fun I decided to re run my code but filtered my data for patients staying less than a month and it improved my RSE, normality and homoscedasticity. Should I change my research question or keep it broad and just explain the limitations of outlier patients?