In [1]:
# This cell marks the BEGINNING of the COPILOT REFERENCE SECTION OF THIS NOTEBOOK
# BEGIN the COPILOT REFERENCE SECTION OF THIS NOTEBOOK

# REFERENCE SECTION

In [2]:

"""
THE RULES:
 Help me complete a performance assesment for my masters in Data Analytics at Western Governers University (WGU). This performance assessment is for Exploratory Data Analsys D207 course at WGU.

 - review and re-review the following text and following markdown sections in this notebook before starting and as needed throughout the project. The names of the sections and other open notebooks in this project are delimited by `` here.

 - `project_guide_requirements_rubric` is the name of the markdown section below and the open file that contains the main guide for the project and should be used as a guide to complete the project. Completing the requirments in order according to the letterNumber system (e.g. A1, A2, B1, etc.) is the main task of the project. The RUBRIC section of the guide should be used to check the project before submission. We should meet all the rubric items labled Competent before submitting the project. Ignore all things related to video or file restrictions in the rubric and requirements.

 - `dataDictionary` is the name of the markdown section below and the open file that contains the data dictionary and will be used as a reference for the data in the project.
 
 - `Medical Data Analysis Project Outline` is the name of the markdown section below that contains the outline for the project and should be used as a guide to complete the project. Completing the requirments in order according to the letterNumber system (e.g. A1, A2, B1, etc.) is the main task of the project.

 - `notes_from_professor` is the name of the markdown section below that contains the notes from the professor and should be used as tips to complete the project more easily and not do extra unnecessary work. 

 - `submitted.ipynb` is the previous project i completed where I cleaned the data for this project. We will be using some of the discussion and code and examples from that project to complete this project when necessary. It is currently open in the workspace and can be accessed.

 - `template_D207.ipynb` is an already completed example of this project and can serve as a guide or template for the project. It is currently open in the workspace and can be accessed.

 - I will update this sections throughout the project and instruct you to reread the rules when needed. If instructed, you will reread this block for new information and familiarize yourself with it.

"""

'\nTHE RULES:\n Help me complete a performance assesment for my masters in Data Analytics at Western Governers University (WGU). This performance assessment is for Exploratory Data Analsys D207 course at WGU.\n\n - review and re-review the following text and following markdown sections in this notebook before starting and as needed throughout the project. The names of the sections and other open notebooks in this project are delimited by `` here.\n\n - `project_guide_requirements_rubric` is the name of the markdown section below and the open file that contains the main guide for the project and should be used as a guide to complete the project. Completing the requirments in order according to the letterNumber system (e.g. A1, A2, B1, etc.) is the main task of the project. The RUBRIC section of the guide should be used to check the project before submission. We should meet all the rubric items labled Competent before submitting the project. Ignore all things related to video or file restrictions in the rubric and requirements.\n\n - `dataDictionary` is the name of the markdown section below and the open file that contains the data dictionary and will be used as a reference for the data in the project.\n \n - `Medical Data Analysis Project Outline` is the name of the markdown section below that contains the outline for the project and should be used as a guide to complete the project. Completing the requirments in order according to the letterNumber system (e.g. A1, A2, B1, etc.) is the main task of the project.\n\n - `notes_from_professor` is the name of the markdown section below that contains the notes from the professor and should be used as tips to complete the project more easily and not do extra unnecessary work. \n\n - `submitted.ipynb` is the previous project i completed where I cleaned the data for this project. We will be using some of the discussion and code and examples from that project to complete this project when necessary. It is currently open in the workspace and can be accessed.\n\n - `template_D207.ipynb` is an already completed example of this project and can serve as a guide or template for the project. It is currently open in the workspace and can be accessed.\n\n - I will update this sections throughout the project and instruct you to reread the rules when needed. If instructed, you will reread this block for new information and familiarize yourself with it.\n\n'

 # Section: project_guide_requirements_rubric

 ## EDA: EXPLORATORY DATA ANALYSIS

**EXPLORATORY DATA ANALYSIS — D207 PRFA — OEM2**

# COMPETENCIES

## **4030.04.01 **: **Data Interpretation**

The graduate interprets central tendency, correlations, and variations
to inform organizational decisions.

## **4030.04.02 **: **Conducting Parametric or Categorical Testing**

The graduateconducts parametric hypothesis testing.

# INTRODUCTION

An organization has collected raw data to analyze its operations and
support its decision-making processes. The raw data ﬁles from the Data
Cleaning course have been cleaned and prepared for exploratory analysis.

To compete this assessment, you will access a data dictionary ﬁle and
its corresponding data ﬂat ﬁle. You will analyze the data set using
speciﬁc techniques, create visualizations, and deliver the results of
your analysis.

*Note: This assessment requires you to submit pictures, graphics, and/or
diagrams. Each ﬁle must be a supporting document no larger than 30 MB in
size. Diagrams must be original and may be hand-drawn or drawn using a
graphics program. Do not use CAD programs because the ﬁle will be too
large.*

# SCENARIO

For this task, you will select one of the Data Dictionary and the
matching Data Set ﬁles from the following link:

You will review the Data Dictionary to understand the needs of the
company and to prepare to analyze the data. In this assessment, you will
analyze the .csv data ﬁle, also referred to as the data set.

You do not need to choose the same data ﬁle that you selected for the
Data Cleaning course, but it is recommended that you do so.

# REQUIREMENTS

*Your submission must be your original work. No more than a combined
total of 30% of the submission and no more than a 10% match to any one
individual source can be directly quoted or closely paraphrased from
sources, even if cited correctly. The originality report that is
provided when you submit your task can be used as a guide.*

*You must use the rubric to direct the creation of your submission
because it provides detailed criteria that will be used to evaluate your
work. Each requirement below may be evaluated by more than one rubric
aspect. The rubric aspect titles may contain hyperlinks to relevant
portions of the course.*

1.  Describe a real-world organizational situation or issue in the Data
    Dictionary you chose, by doing the following:

    1.  Provide **one **question that is relevant to your chosen data
        set. You will answer this question later in the task through an
        analysis of the cleaned data, using one of the following
        techniques: chi-square, t-test, or analysis of variance (ANOVA).

    2.  Explain how stakeholders in the organization could beneﬁt from
        an analysis of the data.

    3.  Identify *all *of the data in your data set that are relevant to
        answering your question in part A1.

<!-- -->

1.  Describe the data analysis by doing the following:

    1.  Using one of the following techniques, write code (in either
        Python or R) to run the analysis of the data set:

        - chi-square

        - t-test

        - ANOVA

    <!-- -->

    1.  Provide the output and the results of *any *calculations from
        the analysis you performed.

    2.  Justify why you chose this analysis technique.

<!-- -->

1.  Identify the distribution of **two **continuous variables and **two
    **categorical variables using univariate statistics from your
    cleaned and prepared data.

    1.  Represent your ﬁndings in Part C, visually as part of your
        submission.



1.  Identify the distribution of **two **continuous variables and **two
    **categorical variables using bivariate statistics from your cleaned
    and prepared data.

    1.  Represent your ﬁndings in Part D, visually as part of your
        submission.


1.  Summarize the implications of your data analysis by doing the
    following:

    1.  Discuss the results of the hypothesis test.

    2.  Discuss the limitations of your data analysis.

    3.  Recommend a course of action based on your results.

<!-- -->

1.  Provide a Panopto video recording that includes a demonstration of
    the functionality of the code used for the analysis and a summary of
    the tool(s) used.


# RUBRIC

**A1:**

## COMPETENT

The submission provides a speciﬁc question to be addressed through the
analysis of the data set using one of the listed analysis techniques.
The question is relevant to the chosen data set.

**A2:**

## COMPETENT

The explanation correctly addresses how stakeholders in the organization
could beneﬁt from the data analysis.

**A3:**

## COMPETENT

The submission correctly identiﬁes the speciﬁc data within the data set
that are relevant to addressing the question from part A1.

**B1:CODE**

## COMPETENT

The submission includes a warning- and error-free code to accurately an-
alyze the data set using 1 of the given techniques.

**B2:OUTPUT**

## COMPETENT

The submission includes the output from running the code and the results
of *all *calculations performed.

**B3:**

## COMPETENT

The justiﬁcation addresses why the chosen method of analysis was se-
lected. The justiﬁed technique is one of the three listed in part B1.
The technique is sufﬁcient and appropri- ate for the chosen data set and
ad- dresses the question in part A1.

**C:**

## COMPETENT

The submission accurately identiﬁes the distribution of 2 continuous and
2 categorical variables using univariate statistics.

**C1:**

## COMPETENT

The submission accurately repre- sents the distribution of the variables
in part C.

cal variables, but not all 4 variables, in part C. Or the visual
representa- tion contains inaccuracies.

**D:**

## COMPETENT

The submission accurately identiﬁes the distribution of 2 continuous and
2 categorical variables using bivariate statistics.

**D1:**

## COMPETENT

The submission accurately repre- sents the distribution of the variables
in part D.

**E1:**

## COMPETENT

The discussion includes accurate and complete results of the hypothesis
test.

**E2:**

## COMPETENT

The explanation includes the limita- tions of the data analysis and does
not include limitations that do not ap- ply to the analysis.

**E3:**

## COMPETENT

The recommendation includes *both *a response to the question from part

A1, or the recommendation is miss- ing speciﬁc actions that could be
taken in response to the analysis. Or the recommendation is irrelevant
to the situation or question or would not plausibly address the
situation or question.

A1 and speciﬁc actions that could be taken in response to the analysis.
The recommendation is relevant to the situation and question and would
plausibly address the situation and question.

**F:VIDEO** 

## COMPETENT

The submission provides a Panopto video recording that accurately
demonstrates the functionality of the code and summarizes the tools
used.

**G:SOURCES FOR THIRD-PARTY CODE**

## COMPETENT

The submission lists *all *web sources used to acquire third-party code,
and the referenced web sources are reliable.

**H:**

## COMPETENT

The submission includes in-text cita- tions for sources that are
properly quoted, paraphrased, or summarized and a reference list that
accurately identiﬁes the author, date, title, and source location as
available.

**I:**

## COMPETENT

Content reﬂects attention to detail, is organized, and focuses on the
main ideas as prescribed in the task or cho- sen by the candidate.
Terminology is pertinent, is used correctly, and ef- fectively conveys
the intended mean- ing. Mechanics, usage, and grammar

promote accurate interpretation and understanding.

# WEB LINKS

If you have trouble with the link, copy and paste the link directly into
your web browser.

If you have trouble with the link, copy and paste the link directly into
your web browser.

 # Section: dataDictionary
## Scenario: Medical Readmission ('ReAdmis' variable)

In the medical industry, readmission of patients is such a problem that
an external organization penalizes hospitals for excessive readmissions
(Centers for Medicare and Medicaid Services or CMS). When it comes to
readmission penalties, studies show

that many hospitals are overconfident and underprepared. The percentage
of hospitals penalized for readmissions has increased each year since
CMS began imposing penalties, and according to the CMS reporting, as
much as 78 percent of hospitals were fined in fiscal year 2015. However,
three-quarters of hospitals feel confident in their ability to reduce
readmissions, and only 55 percent of them anticipate receiving a penalty
this year. Given the historical trend and the addition of COPD and Hip
and Knee replacement to the list of medical conditions measured, the
percentage of hospitals penalized will likely be much higher than 55
percent. Additionally, although hospitals are applying various reduction
strategies, fewer than 1 in 5 utilize technology that is specific to
reducing their readmissions, so they may not be doing all that they can.

You are an analyst on a team of analysts for a popular medical hospital
chain with patients in almost every state in the United States. You have
been asked to investigate the extent to which readmission is a problem
for this chain of hospitals.

Note: The original reason for hospitalization is not provided in the
data. The purpose of the analysis is to predict readmission based on
other conditions and factors of the patient.

# Data File being used:

medical_clean.csv

# Data Dictionary:

The data set includes the following information:

- patients who are readmitted to the hospital within a month of release
  (the “ReAdmis”

column)

- patient medical conditions (high blood pressure, stroke, obesity,
  arthritis, diabetes, etc.)

- patient information (service they received while hospitalized, days in
  hospital, type of initial admission, etc.)

- patient demographic information (gender, age, job, education level,
  etc.) The data set consists of 10,000 customers and 50
  columns/variables:

- **CaseOrder: **A placeholder variable to preserve the original order
  of the raw data file

- **Customer_id: **Unique patient ID

- **Interaction, UID: **Unique IDs related to patient transactions,
  procedures, and admissions

The following variables represent customer demographic data:

- **City: **Patient city of residence as listed on the billing statement

- **<sup>State:</sup><sup> </sup>**<sup>Patient state of residence as
  listed on the billing statement</sup>

- **<sup>County:</sup><sup> </sup>**<sup>Patient county of residence as
  listed on the billing statement</sup>

- **<sup>Zip:</sup><sup> </sup>**<sup>Patient zip code of residence as
  listed on the billing statement</sup>

- **<sup>Lat,</sup><sup> </sup><sup>Lng:</sup><sup> </sup>**<sup>GPS
  coordinates of patient residence as listed on the billing
  statement</sup>

- **Population: **Population within a mile radius of patient, based on
  census data

- **<sup>Area:</sup><sup> </sup>**<sup>Area type (rural, urban,
  suburban), based on unofficial census data</sup>

- **<sup>TimeZone:</sup><sup> </sup>**<sup>Time zone of patient
  residence based on patient’s sign-up information</sup>

- **<sup>Job:</sup><sup> </sup>**<sup>Job of the patient (or primary
  insurance holder) as reported in the admissions </sup>information

- **<sup>Children:</sup><sup> </sup>**<sup>Number of children in the
  patient’s household as reported in the </sup>admissions information
  (might not be children of the patient)

- **<sup>Age:</sup><sup> </sup>**<sup>Age of the patient as reported in
  admissions information</sup>

- **<sup>Income:</sup><sup> </sup>**<sup>Annual income of the patient
  (or primary insurance holder) as reported at </sup>time of admission

- **<sup>Marital:</sup><sup> </sup>**<sup>Marital status of the patient
  (or primary insurance holder) as reported on </sup>admission
  information

- **<sup>Gender:</sup><sup> </sup>**<sup>Customer self-identification as
  male, female, or nonbinary</sup>

<!-- -->

- **ReAdmis: **Whether the patient was readmitted within a month of
  release or not (yes, no)

- **VitD_levels: **The patient’s vitamin D levels as measured in ng/mL

- **Doc_visits: **Number of times the primary physician visited the
  patient during the initial hospitalization

- **Full_meals_eaten: **Number of full meals the patient ate while
  hospitalized (partial meals count as 0, and some patients had more
  than three meals in a day if requested)

- **VitD_supp: **The number of times that vitamin D supplements were
  administered to the patient

- **Soft_drink: **Whether the patient habitually drinks three or more
  sodas in a day (yes, no)

- **Initial_admin: **The means by which the patient was admitted into
  the hospital initially (emergency admission, elective admission,
  observation)

- **HighBlood: **Whether the patient has high blood pressure (yes, no)

- **Stroke**: Whether the patient has had a stroke (yes, no)

- **Complication_risk: **Level of complication risk for the patient as
  assessed by a primary patient assessment (high, medium, low)

- **Overweight: **Whether the patient is considered overweight based on
  age, gender, and height (yes, no)

- **Arthritis: **Whether the patient has arthritis (yes, no)

- **Diabetes: **Whether the patient has diabetes (yes, no)

- **Hyperlipidemia: **Whether the patient has hyperlipidemia (yes, no)

- **BackPain: **Whether the patient has chronic back pain (yes, no)

- **Anxiety: **Whether the patient has an anxiety disorder (yes, no)

- **Allergic_rhinitis: **Whether the patient has allergic rhinitis (yes,
  no)

- **Reflux_esophagitis: **Whether the patient has reflux esophagitis
  (yes, no)

- **Asthma: **Whether the patient has asthma (yes, no)

- **Services: **Primary service the patient received while hospitalized
  (blood work, intravenous, CT scan, MRI) (Note: the patient may have
  received more services, but only the primary service is reported)

- **Initial_days: **The number of days the patient stayed in the
  hospital during the initial visit

- **TotalCharge: **The amount charged to the patient daily. This value
  reflects an average per patient based on the total charge divided by
  the number of days hospitalized. This amount reflects the typical
  charges billed to patients, not including specialized treatments.

- **Additional_charges: **The average amount charged to the patient for
  miscellaneous procedures, treatments, medicines, anesthesiology, etc.

The following variables represent responses to an eight-question survey
asking customers to rate the importance of various factors/surfaces on a
scale of 1 to 8 (1 = most important, 8 = least important)

- **<sup>Item1:</sup><sup> </sup>**<sup>Timely admission</sup>

- **<sup>Item2:</sup><sup> </sup>**<sup>Timely treatment</sup>

- **<sup>Item3:</sup><sup> </sup>**<sup>Timely visits</sup>

- **<sup>Item4:</sup><sup> </sup>**<sup>Reliability</sup>

- **<sup>Item5:</sup><sup> </sup>**<sup>Options</sup>

- **<sup>Item6:</sup><sup> </sup>**<sup>Hours of treatment</sup>

- **<sup>Item7:</sup><sup> </sup>**<sup>Courteous staff</sup>

- **<sup>Item8:</sup><sup> </sup>**<sup>Evidence of active listening
  from doctor</sup>

# Section: Medical Data Analysis Project Outline

## A. Organizational Context
### A1. Research Question
- Are the independent variables that related with readmissions?
- Null Hypothesis: There is no association between the independent variables and readmissions.
- Alternative Hypothesis: There is an association between the independent variables and readmissions.

### A2. Significance of Analysis
- (ANSWERING THIS QUESTION WILL BE INFORMED BY THE DATA DICTIONARY `dataDictionary.pdf`, 
- Exploring which factors contribute to patient readmissions can help the hospital implement targeted interventions to improve patient outcomes and reduce unnecessary costs.

### A3. Relevant Data Identification
- Variables related to patient demographics, health conditions, and hospital services will be considered to understand their relationship with readmission rates.

## B. Data Analysis
### B1. Code
- Chi-square analysis will be performed to test the association between categorical variables and readmissions.

### B2. Output and Results
- The output will include chi-square statistics and p-values for each variable tested.

### B3. Justification for Chi-square
- Chi-square is chosen for its ability to test associations between categorical variables without assuming a normal distribution of data.

## C. Univariate Analysis
### C1. Visual Representation
- Histograms for continuous variables (e.g., Age, Days to Readmit) and bar charts for categorical variables (e.g., Gender, Readmission Status).

## D. Bivariate Analysis
### D1. Visual Representation
- Scatter plots for continuous variable relationships and clustered bar charts for categorical associations.

## E. Implications of Data Analysis
### E1. Hypothesis Test Results
- Discuss whether the findings support an association between the chosen independent variables and readmissions.

### E2. Limitations
- Address potential limitations such as sample size, data collection methods, or missing data.

### E3. Recommendations
- Provide recommendations on how the hospital can address factors associated with higher readmission rates.

## References
### F. & G. Citations and Resources
- Accurate in-text citations and a comprehensive reference list as per professional standards.

# Section: tips_from_professor

### BEST ADVICE FOR D207 EXPLORATORY DATA ANALYSIS

1. There are 3 statistical methods to learn in this course and you can use them again on your Capstone!

2. Choose only one of the three statistical methods for your Performance Assessment.

3. Understand the two major types of variables: categorical and continuous.

4. Choose only two variables to test, be certain that they are right type for the test.

5. Remember: Everyone does the same assignment so distinguish your work with full explanations, conclusions and statements to backup your work.

6. In your term paper, include intext citations to support your statements.

7. Write full paragraphs for each rubric item to explain what you did and why.

8. Enumerate your paper, following the outline of the rubric.

9. Show your code and the results in the body of your term paper.

10. Don’t just show code and screenshots.

11. Provide four univariate graphs, i.e., one variable to a graph.

12. Univariate graphs requirement is two continuous, two categorical.

13. Visual of the Findings means: in Python use the .describe command, in R, .summary.

14. Visual of the Findings means: also provide a one-liner stating what that graph means to you.

15. Bivariate graphs: Only two. Two continuous variables in one graph like age vs. income.

16. Bivariate graphs: Two categorical variables in one graph like churn vs. gender.

17. Watch my six episode series for answers to all your questions!

Good Studying!

In [3]:
# This cell marks the END of the COPILOT REFERENCE SECTION OF THIS NOTEBOOK
# END the COPILOT REFERENCE SECTION OF THIS NOTEBOOK

# PROJECT SECTION

In [4]:
# This cell marks the BEGINNING of the PROJECT SECTION OF THIS NOTEBOOK
# BEGIN the PROJECT SECTION OF THIS NOTEBOOK


# Performace Assessment: D207 Exploratory Data Analysis

## Michael Hindes
<br>Department of Information Technology, Western Governors University
<br>D207: Exploratory Data Analysis
<br>Professor David Gagner
<br>December 29, 2023

## Task A:  Describe a real-world organizational situation or issue in the Data Dictionary you chose, by doing the following:

### **A1. Provide one question that is relevant to your chosen data set.**

Patient readmissions represent a significant concern in the medical sector, impacting patient welfare and hospital operations alike. The gravity of the issue is underscored by the fact that the Centers for Medicare and Medicaid Services (CMS) have introduced financial penalties for hospitals experiencing elevated readmission rates (WGU, 2023). Despite the potential economic and image costs, numerous hospitals find themselves ill-equipped to effectively address readmissions. This performance assessment aims to explore this critical gap by looking for factors that might influence a patient's probability of readmission, thus enhancing the data analytics process crucial for fostering better health service outcomes.

**Question**: Are there specific variables that can help predict the likelihood of a patient's re-admittance to the emergency room?

  To tackle this question, the `'medical_clean.csv'` dataset (WGU, 2023) has beem cleaned for analysis and will be used. This dataset is rich with a variety of variables that could influence a patient's chances of returning to the hospital. After inspecting and understanding the data in this particular context, Exploratory Data analsys is performed to try and see if variable candidates exist for potential relationships with the `ReAdmis` variable in the data. If none are upon initial examination, one will be chhose for comparison based on the analysits understanding of the data and the question being asked, and past history working with medical data in a hospital setting.

### **A2. Explain how stakeholders in the organization could benefit from an analysis of the data.**

The stakeholders likely include hospital administrators, healthcare staff, patients, and possibly investors. Administrators and staff can use this analysis to pinpoint patients at higher risk of readmission, allowing them to implement preventive strategies. This proactive approach not only curtails costs linked to readmissions but also elevates patient care quality. Patients stand to benefit from improved healthcare practices and reduced likelihood of readmissions, enhancing their overall health outcomes. In essence, this analysis could facilitate more efficient hospital operations and foster better patient care.

### **A3. Identify all of the data in your data set that are relevant to answering your question in part** *A1*.

**Variable Categories**:
  *Patient Characteristics*: Age, gender, and various health conditions.
  *Hospital Stay Details*: Treatments administered, duration of hospitalization, and the nature of the patient's initial entry. Importantly, the dataset includes a 'ReAdmis' variable, which is a binary indication (Yes, No) of whether the patient was readmitted within a month of discharge.
  *Health Issues*: Hypertension, cerebral incidents, excessive weight, joint inflammation, and sugar imbalances.
  *Demographics*: Sex, age bracket, occupation, and educational background.

  **Variables**: 
  In this assessment, we will explore associations between categorical variables and patient readmissions through Chi-square statistical tests. We'll focus on categorical variables relevant to this analysis, each with a limited set of distinct levels. For example, while zip codes are nominal categorical variables, their effectiveness is constrained by the extensive number of unique levels in a large dataset. Therefore, we will prioritize variables with a smaller and more manageable number of unique levels for a substantive Chi-square analysis. `Gender`, `HighBlood`, `Stroke`, `Complication_risk`, `Overweight`, `Arthritis`, `Diabetes`, `Hyperlipidemia`, `BackPain`, `Anxiety`, `Allergic_rhinitis`, `Reflux_esophagitis`, `Asthma`, `Services`, `Initial_admin`, `Marital`, `VitD_supp`, `Soft_drink`, `Initial_days`, `TotalCharge`, `Additional_charges`, `Item1`, `Item2`, `Item3`, `Item4`, `Item5`, `Item6`, `Item7`, `Item8`, `ReAdmis`.
  The table below describes all the relevant categorical variables in the dataset as received from an online source (WGU, 2023). The table includes the Variable name, Data type, Variable Type, Description, and an Example for every variable in the dataset.

In [5]:
# Check the code below (lines 2-13) to make sure it is correct and will do what we want it to do. If it is not correct, fix it.
%pip install plotnine
%pip install scikit-learn
%pip install missingno
%pip install Jinja2
%matplotlib inline
import plotnine as p9
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import missingno as msno
import seaborn as sns
from pandas import DataFrame

Requirement already satisfied: plotnine in c:\users\hinde\documents\github\master\.venv\lib\site-packages (0.12.4)
Requirement already satisfied: matplotlib>=3.6.0 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from plotnine) (3.8.2)
Requirement already satisfied: mizani<0.10.0,>0.9.0 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from plotnine) (0.9.3)
Requirement already satisfied: numpy>=1.23.0 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from plotnine) (1.26.2)
Requirement already satisfied: pandas>=1.5.0 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from plotnine) (2.1.4)
Requirement already satisfied: patsy>=0.5.1 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from plotnine) (0.5.5)
Requirement already satisfied: scipy>=1.5.0 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from plotnine) (1.11.4)
Requirement already satisfied: statsmodels>=0.14.0 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from plotnine) (0.14.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from matplotlib>=3.6.0->plotnine) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from matplotlib>=3.6.0->plotnine) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from matplotlib>=3.6.0->plotnine) (4.47.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from matplotlib>=3.6.0->plotnine) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from matplotlib>=3.6.0->plotnine) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from matplotlib>=3.6.0->plotnine) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from matplotlib>=3.6.0->plotnine) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from matplotlib>=3.6.0->plotnine) (2.8.2)
Requirement already satisfied: tzdata in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from mizani<0.10.0,>0.9.0->plotnine) (2023.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from pandas>=1.5.0->plotnine) (2023.3.post1)
Requirement already satisfied: six in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from patsy>=0.5.1->plotnine) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: scikit-learn in c:\users\hinde\documents\github\master\.venv\lib\site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from scikit-learn) (1.26.2)
Requirement already satisfied: scipy>=1.5.0 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from scikit-learn) (3.2.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: missingno in c:\users\hinde\documents\github\master\.venv\lib\site-packages (0.5.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from missingno) (1.26.2)
Requirement already satisfied: matplotlib in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from missingno) (3.8.2)
Requirement already satisfied: scipy in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from missingno) (1.11.4)
Requirement already satisfied: seaborn in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from missingno) (0.13.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from matplotlib->missingno) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from matplotlib->missingno) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from matplotlib->missingno) (4.47.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from matplotlib->missingno) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from matplotlib->missingno) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from matplotlib->missingno) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from matplotlib->missingno) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from matplotlib->missingno) (2.8.2)
Requirement already satisfied: pandas>=1.2 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from seaborn->missingno) (2.1.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from pandas>=1.2->seaborn->missingno) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from pandas>=1.2->seaborn->missingno) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib->missingno) (1.16.0)
Requirement already satisfied: Jinja2 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (3.1.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\hinde\documents\github\master\.venv\lib\site-packages (from Jinja2) (2.1.3)
Note: you may need to restart the kernel to use updated packages.

In [6]:
from IPython.display import display
from IPython.display import HTML

df = pd.read_csv('variable_description_forchi.csv')

# Set the max column width to 1000
pd.set_option('display.max_colwidth', 1000)

# Define the CSS style
css = """
<style>
    table {
        font-size: 12px;
        margin: auto;
    }
    th, td {
        padding: 4px;
        text-align: center;
        white-space: pre-wrap;
    }
</style>
"""

# Set all columns to wrap text, center align, and auto-adjust row height
df = df.style.set_properties(**{'text-align': 'center', 'white-space': 'pre-wrap', 'height': 'auto'})

# Remove any existing styles that might be affecting the alignment of the headers
df = df.set_table_styles([{'selector': 'th', 'props': [('text-align', 'center !important')]}])

# Display the CSS style and the dataframe
display(HTML(css + df.hide(axis='index').to_html()))

# Discussion of Chi-Square Test

### 19. The Chi-Square Test (χ²) has the following features:

A. It is a nonparametric test (distribution free). The data that it tests violate the assumptions of equal variance or homoscedasticity.

B. The difference between Chi-square and t-test is that a t-test tests a null hypothesis about two means to see if they are equal. The difference between them is zero. A chi-square test tests a null hypothesis about the relationship between two variables.

C. Based on frequencies and not on parameters like mean and standard deviation.

D. Used for testing the hypothesis and not for estimation.

E. The advantage over a Z test is that it can be applied to smaller samples as well as large samples.

In this assessment, we will explore associations between categorical variables and patient readmissions through Chi-square statistical tests. We'll focus on categorical variables relevant to this analysis, each with a limited set of distinct levels. For example, while zip codes are nominal categorical variables, their effectiveness is constrained by the extensive number of unique levels in a large dataset. Therefore, we will prioritize variables with a smaller and more manageable number of unique levels for a substantive Chi-square analysis.

In [7]:
# 1. read in a csv file as a new dataframe
# we will eventually perform chi-square tests on this dataframe to check the independence of the variables against 'ReAdmis' variable
# 2. perform some general explatory data analysis (EDA) on the dataframe for categorical variables, keeping in mind that we will be performing chi-square tests on the variables to check the independence of the variables against 'ReAdmis' variable. These should be descriptive statistics and visualizations that help us understand the data and variables better.

# import the data and read it into a dataframe
df = pd.read_csv('medical_clean_forchi.csv')

# Set the maximum number of columns to display to 6 to save space for exersize
pd.set_option('display.max_columns', 16)

# Display the first/last five rows of the data
df.head()

,Area,Marital,Gender,ReAdmis,Soft_drink,Initial_admin,HighBlood,Stroke,...,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
0,Suburban,Divorced,Male,No,No,Emergency Admission,Yes,No,...,3,3,2,2,4,3,3,4
1,Urban,Married,Female,No,No,Emergency Admission,Yes,No,...,3,4,3,4,4,4,3,3
2,Suburban,Widowed,Female,No,No,Elective Admission,Yes,No,...,2,4,4,4,3,4,3,3
3,Suburban,Married,Male,No,No,Elective Admission,No,Yes,...,3,5,5,3,4,5,5,5
4,Rural,Widowed,Female,No,Yes,Elective Admission,No,No,...,2,1,3,3,5,3,4,3

In [8]:
# View the last 5 rows of the dataframe
df.tail()

,Area,Marital,Gender,ReAdmis,Soft_drink,Initial_admin,HighBlood,Stroke,...,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
9995,Urban,Widowed,Male,No,No,Emergency Admission,Yes,No,...,3,2,2,3,4,3,4,2
9996,Urban,Widowed,Male,Yes,No,Elective Admission,Yes,No,...,3,3,4,2,5,3,4,4
9997,Rural,Separated,Female,Yes,Yes,Elective Admission,Yes,No,...,3,3,3,4,4,2,3,2
9998,Rural,Divorced,Male,Yes,No,Emergency Admission,No,No,...,5,5,3,4,4,3,4,3
9999,Urban,Separated,Female,Yes,No,Observation Admission,No,No,...,4,3,3,2,3,6,4,3

In [9]:
# Understanding the Data
# Check the shape of the DataFrame. df.shape returns a tuple: ([0],[1]) = (rows, columns)
print('Total rows:', df.shape[0])
print('Total columns:', df.shape[1])

Total rows: 10000
Total columns: 27

In [10]:
# Check the DataFrame information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Area                10000 non-null  object
 1   Marital             10000 non-null  object
 2   Gender              10000 non-null  object
 3   ReAdmis             10000 non-null  object
 4   Soft_drink          10000 non-null  object
 5   Initial_admin       10000 non-null  object
 6   HighBlood           10000 non-null  object
 7   Stroke              10000 non-null  object
 8   Complication_risk   10000 non-null  object
 9   Overweight          10000 non-null  object
 10  Arthritis           10000 non-null  object
 11  Diabetes            10000 non-null  object
 12  Hyperlipidemia      10000 non-null  object
 13  BackPain            10000 non-null  object
 14  Anxiety             10000 non-null  object
 15  Allergic_rhinitis   10000 non-null  object
 16  Reflux_esophagitis  10000 non-null  object
 17  Asthma              10000 non-null  object
 18  Services            10000 non-null  object
 19  Item1               10000 non-null  int64
 20  Item2               10000 non-null  int64
 21  Item3               10000 non-null  int64
 22  Item4               10000 non-null  int64
 23  Item5               10000 non-null  int64
 24  Item6               10000 non-null  int64
 25  Item7               10000 non-null  int64
 26  Item8               10000 non-null  int64
dtypes: int64(8), object(19)
memory usage: 2.1+ MB

# **No missing values in the dataset**

In [11]:
# View the number of unique values for each column
df.nunique()

Area                  3
Marital               5
Gender                3
ReAdmis               2
Soft_drink            2
Initial_admin         3
HighBlood             2
Stroke                2
Complication_risk     3
Overweight            2
Arthritis             2
Diabetes              2
Hyperlipidemia        2
BackPain              2
Anxiety               2
Allergic_rhinitis     2
Reflux_esophagitis    2
Asthma                2
Services              4
Item1                 8
Item2                 7
Item3                 8
Item4                 7
Item5                 7
Item6                 7
Item7                 7
Item8                 7
dtype: int64

# **The levels or unique values for each variable suggest chi-square analysis is appropriate for them**

In [26]:
df_display = df[['Area']].value_counts().sort_values()

# Convert the Series object to a DataFrame
df_display = pd.DataFrame(df_display)

# Define the CSS style
css = """
<style>
    table {
        font-size: 12px;
        margin: auto;
    }
    th, td {
        padding: 4px;
        text-align: center;
        white-space: pre-wrap;
    }
    .dataframe td:first-child {
        display: none;
    }
</style>
"""

# Set all columns to wrap text, center align, and auto-adjust row height
df_display = df_display.style.set_properties(**{'text-align': 'center', 'white-space': 'pre-wrap', 'height': 'auto'})

# Set the table attributes to hide the index
df_display = df_display.set_table_attributes('class="dataframe"')

# Display the CSS style and the dataframe
display(HTML(css + df_display.to_html()))

In [81]:
import pandas as pd
from IPython.display import display, HTML

# Generate contingency table for each variable against 'ReAdmis'
for column in df.columns:
    if column != 'ReAdmis':
        contingency_table = pd.crosstab(df['ReAdmis'], df[column], margins=True, margins_name='Total')
        contingency_table_styled = contingency_table.style.set_table_styles([
            {'selector': 'th', 'props': [('border', '1px solid black')]},
            {'selector': 'td', 'props': [('border', '1px solid black')]},
            {'selector': 'tr:nth-child(even)', 'props': [('background-color', '#111111')]},
            {'selector': 'tr:nth-child(odd)', 'props': [('background-color', '#444444')]},
        ])
        display(contingency_table_styled)
        print('\n')

In [86]:
from scipy.stats import chi2_contingency
# perform a chi-square test on the 'Azthma' variable to check the independence of the variable against 'ReAdmis' variable# Create a contingency table for 'Asthma' and 'ReAdmis'
contingency_table = pd.crosstab(df['Asthma'], df['ReAdmis'])

# Perform the chi-square test
chi2, p_value, dof, expected = chi2_contingency(contingency_table)

# Print the results
print("Chi-square statistic:", chi2)
print("p-value:", p_value)
print("Degrees of freedom:", dof)
print("Expected frequencies:", expected)

# Check the p-value and print the conclusion
if p_value < 0.05:
    print("We reject the null hypothesis and conclude that the variables are not independent.")
else:
    print("We do not reject the null hypothesis and conclude that the variables are independent.")

Chi-square statistic: 2.857452237605144
p-value: 0.090951450679407
Degrees of freedom: 1
Expected frequencies: [[4499.4417 2607.5583]
 [1831.5583 1061.4417]]
We do not reject the null hypothesis and conclude that the variables are independent.

In [31]:
# This cell marks the END of the PROJECT SECTION OF THIS NOTEBOOK
# END the PROJECT SECTION OF THIS NOTEBOOK